extends ../index.pug

block main
    +headerFotoBook(user)
    .row.myphoto-block
        .col-xs-0.col-sm-1.col-md-2.d-flex.justify-content-center.block-user
            ul.nav.flex-column.nav_custom
                +navigation("photo")
        .col-xs-0.col-sm-10.col-md-8
            .block-content(style='padding: 30px 15px 30px 15px; position: relative')
                .d-flex.justify-content-start(style='margin-left: 30px')
                    p.add-title New photo
                form.row(method='POST' action='/photos/add' enctype="multipart/form-data")
                    .col-lg-6
                        .row
                            .col-lg-12
                                .form-group
                                    label(for='usr')
                                    | Title:
                                    span#erro_title(style='color: red')
                                        | **Maximum 140 characters
                                    input#phototitle.form-control(type='text' placeholder='Photo title' name='title' required='')
                            .col-lg-12.col-xl-6
                                .form-group
                                    label(for='sel1') Sharing mode:
                                    select#sel1.form-control(name="status")
                                        option(value=1 selected) Public
                                        option(value=0) Private      
                        .row.mt-4
                            .col-lg-12.col-xl-6
                                .custom-file.mt-2.block-file
                                    img#imgPreview.image-file-input(style='position: relative; z-index: 0' for='customFile')
                                    input#customFile.custom-file-input(type='file' accept='image/gif, image/jpeg, image/png' name='filename' style='\
                                    height: 100%;\
                                    position: absolute;\
                                    z-index: 1;\
                                    top: 0;\
                                    left: 0;\
                                    ')
                                    span.span-plussicon(for='customFile')
                                        i.fa.fa-plus(aria-hidden='true')
                    .col-lg-6
                        .form-group
                            label(for='comment') Description
                            span#erro_desc(style='color: red')
                                | **Maximum 300 characters
                            textarea#comment.form-control(rows='5' placeholder='Photo Description' name='desc' required='')
                    .col-lg-12.mt-4(style='margin-left: 15px')
                        .col-lg2
                            button.btn.btn-success(type='submit') Save
        .col-xs-0.col-sm-1.col-md-2
    script.
        $(document).ready(function(){
            $("#customFile").change(function () {
            const file = this.files[0];
            console.log(file);
            if (file) {
                let reader = new FileReader();
                $(".span-plussicon").hide();
                reader.onload = function (event) {
                console.log(event.target.result);
                $("#imgPreview").attr("src", event.target.result);
                };
                reader.readAsDataURL(file);
                console.log(reader);
            }
            });

            // Validate title
            $("#erro_title").hide();

            $("#phototitle").keyup(function () {
            validateTitle();
            });

            function validateTitle() {
            let titleValue = $("#phototitle").val();
            if (titleValue.length > 140) {
                $("#erro_title").show();

                return false;
            } else {
                $("#erro_title").hide();
                return true;
            }
            }

            // Validate title
            $("#erro_desc").hide();

            $("#comment").keyup(function () {
            validateDesc();
            });

            function validateDesc() {
            let descValue = $("#comment").val();
            if (descValue.length > 300) {
                $("#erro_desc").show();

                return false;
            } else {
                $("#erro_desc").hide();
                return true;
            }
            }
        });


