extends ../index.pug

block main
    +headerFotoBook(user)
    .row.feeds-block
        .col-md-1.col-lg-2.d-flex.justify-content-center.block-user
            +navigation('feed')
        .col-md-10.col-lg-8
            .block-content.d-flex.flex-column.justify-content-between
                .block-content-center
                    .d-flex.justify-content-center(style='margin-bottom: 30px')          
                        ul.nav.nav-pills.group-tabs(role='tablist')
                            if(type=="photo")
                                li.nav-item.group-tabs-item
                                    a.nav-link.active( href='/feeds?type=photo&page=1&limit=4') Photo
                                li.nav-item.group-tabs-item
                                    a.nav-link( href='/feeds?type=album&page=1&limit=4') Album
                            else
                                li.nav-item.group-tabs-item
                                    a.nav-link( href='/feeds?type=photo&page=1&limit=4') Photo
                                li.nav-item.group-tabs-item
                                    a.nav-link.active( href='/feeds?type=album&page=1&limit=4') Album              
                    .tab-content
                        if(type=="photo")                        
                            #block-photos.container.tab-pane.active
                                .row
                                    if(data.length === 0)
                                        img.isEmpty(src="https://static.thenounproject.com/png/203873-200.png")
                                    else
                                        each photo in data
                                            +cardPhoto(photo.title, photo.desc, photo.image, photo.createdAt, photo.like, photo.user)
                        else if(type=="album")
                            #block-albums.container.tab-pane.active
                                .row
                                    if(data.length === 0)
                                        img.isEmpty(src="https://static.thenounproject.com/png/203873-200.png")
                                    else
                                        each photo in data
                                           .col-md-12.col-lg-6.mb-4.mb-4
                                                +cardAlbum(photo.title, photo.desc, photo.images, photo.createdAt, photo.like, photo.user)

                if(type=="photo")
                    +panigationFeed(totalPage, currentPage, "photo")
                else if(type=="album")
                    +panigationFeed(totalPage, currentPage, "album")
        .col-md-1.col-lg-2

    // The Modal
    #modelImage.modal.fade
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-body
                    .body-block
                        p.block-header Nam tempor posuere faucibus
                        .block-image
                            img.model-img(src='https://www.tutorialspoint.com/bootstrap/images/64.jpg' alt='image')
                        p.block-desc
                            | Aliquam dictum nec massa ac consequat. Etiam dignissim tincidunt
                            | tellus sed vestibulum. Sed vitae vestibulum purus. Curabitur
                            | malesuada libero in nibh pretium, sed malesuada nisi feugiat.

    #largeModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='basicModal' aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h6.modelAlbumTitle Title in here
                .modal-body
                    // carousel
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                        //- ol.carousel-indicators
                        //-     li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                        //-     li(data-target='#carouselExampleIndicators' data-slide-to='1')
                        //-     li(data-target='#carouselExampleIndicators' data-slide-to='2')
                        .carousel-inner#modelAlbumImages
                            //- .carousel-item.active
                            //-     img.img-size(src='https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1391&q=80' alt='First slide')
                            //- .carousel-item
                            //-     img.img-size(src='https://images.unsplash.com/photo-1491555103944-7c647fd857e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' alt='Second slide')
                            //- .carousel-item
                            //-     img.img-size(src='https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80' alt='Second slide')
                        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next
                .modal-footer
                    p.modelAlbumtext(style='font-size: 13px; text-align:"start') Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, mollitia eligendi illo ipsam quia magnam iusto quidem harum, quas fugit quos. Earum facere ut iure animi magni quisquam cumque veritatis?
                    



    script.
        $(document).ready(function(){
            $(".card-custom").click(function(){
              
                let urlImage = $(this).data('img')
                let title = $(this).data('title')
                let desc = $(this).data('desc')

                $(".model-img").attr("src", urlImage);
                $(".block-header").text(title)
                $(".block-desc").text(desc)
            });
            
            $(".cardAlbum").click(function(){              
                let desc = $(this).data('dalbum')

                //remove all elements 
                var block = document.getElementById("modelAlbumImages");
                
                while (block.hasChildNodes()) {
                    block.firstChild.remove()
                 }

                let arrImage = $(this).data('imgalbum');
                
                
                let title = $(this).data('titlealbum')
                $(".modelAlbumTitle").text(title)
                $(".modelAlbumtext").text(desc)

               
               
                for(let i = 0; i < arrImage.length; ++i){
                    var newDiv = document.createElement("div");  // Create with DOM
                     newDiv.classList = "carousel-item"
    
                    //add a class for div
                    if(i === 0){
                        newDiv.classList.add("active");
                    }
                
                    // create a new image element
                    var newImg = document.createElement("img");  // Create with DOM
                    newImg.classList = "img-size"
                    newImg.classList.add("img-choised");

                    
                    newImg.setAttribute("src", arrImage[i].url);

                    newDiv.append(newImg);

                    console.log(newDiv)
                    
                    
                  
                    block.append(newDiv);
                }
               

            });
        });