extends ../index.pug
block main
    +headerFotoBook
    .container.login-block
        .row.d-flex.justify-content-center.w-100
            .col-sm-6.col-md-4.col-md-offset-4.block-register-div
                h1.text-center.login-title Fotobook Login
                .account-wall
                    img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120' alt='')
                    p.text-danger.mb-2.text-center #{message}
                    form.form-signin(method='POST' action='/users/login')
                        input.form-control(type='email' name='username' placeholder='Email' required='' autofocus='')
                        input.form-control.mb-4(type='password' name='password' placeholder='Password' required='')
                        button.btn.mt-2.btn-primary.btn-block.w-50(style='position: relative; left: 50%; transform: translateX(-50%);' type='submit')
                            | Log in
                        a.text-center.new-account(href='/login' style='color: #3c5999; font-size: 14px;') Forget password? 
                a.text-center.new-account(href='/signup' style='color: #3c5999; font-size: 14px;') Create an account 

