<!DOCTYPE html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css" integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="css/register_form.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/feeds.css">
  <link rel="stylesheet" href="css/myphoto.css">
</head>
<body>
  <header class="bg-header">
    <div class="row" style="display: flex; align-items: center;">
      <div class="col-2" style="text-align: end;"><a class="text-white header-logo" href="#">Fotobook</a></div>
      <div class="col-8">
        <input class="form-control w-50 div_reponsive" id="search" placeholder="Search photo / albums" type="text"/>
      </div>
      <div class="col-2"><a class="text-white header-login" href="/login"> Login</a></div>
    </div>
  </header>
  <div class="row feeds-block">
    <div class="col-md-2 d-flex justify-content-center block-user">
      <ul class="nav flex-column nav_custom">
        <li class="nav-item"><a class="nav-link active" href="/feeds">My Feed</a></li>
        <li class="nav-item"><a class="nav-link" href="/photos">My Photos</a></li>
        <li class="nav-item"><a class="nav-link" href="/albums">My Albums</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="block-content d-flex flex-column justify-content-between">
        <div class="block-content-main">
          <div class="d-flex justify-content-end" style="margin-bottom: 30px; margin-right: 15px"><a class="btn btn-success" href="photoadd.html" type="button">Add New photo</a></div>
          <div class="row">
            <div class="col-lg-3 mb-4 mb-4">
              <div class="card-custom">
                <div class="card_text d-flex justify-content-between">
                  <p style="font-size: 13px;">s nam dias harum, animiendis...</p><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                </div>
                <div class="block-content-bottom"><img class="card-img-top" src="https://www.tutorialspoint.com/bootstrap/images/64.jpg" alt="Card image"></div><span class="lock-css"><i class="fa fa-lock" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-panigation">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!-- The Modal-->
  <div class="modal fade" id="modelImage">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="body-block">
            <p class="block-header">Nam tempor posuere faucibus</p>
            <div class="block-image"><img src="https://www.tutorialspoint.com/bootstrap/images/64.jpg" alt="image"></div>
            <p class="block-desc">
              Aliquam dictum nec massa ac consequat. Etiam dignissim tincidunt
              tellus sed vestibulum. Sed vitae vestibulum purus. Curabitur
              malesuada libero in nibh pretium, sed malesuada nisi feugiat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>