<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css" integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="css/register_form.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/feeds.css">
    <link rel="stylesheet" href="css/myphoto.css">
  </head>
  <body>
    <header class="bg-header">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-2" style="text-align: end;"><a class="text-white header-logo" href="#">Fotobook</a></div>
        <div class="col-8">
          <input class="form-control w-50 div_reponsive" id="search" placeholder="Search photo / albums" type="text"/>
        </div>
        <div class="col-2"><a class="text-white header-login" href="/login"> Login</a></div>
      </div>
    </header>
    <div class="container">
      <div class="row d-flex justify-content-center block-register">
        <div class="col-sm-10 col-md-8 col-lg-5 block-register-div">
          <h1 class="text-center login-title">Fotobook Signup</h1>
          <div class="account-wall">
            <form class="form-signin" id="form" method="POST" action="/users">
              <div class="form-group">
                <label for="usr">First Name:</label><span id="erro_firstname" style="color: red">**Maximum 25 characters</span>
                <input class="form-control" id="firstname" type="text" placeholder="First name" required="" name="firstName">
              </div>
              <div class="form-group">
                <label for="usr">Last Name:</label><span id="erro_lastname" style="color: red">**Maximum 25 characters</span>
                <input class="form-control" id="lastname" type="text" required="" placeholder="Last name" name="lastName">
              </div>
              <div class="form-group">
                <label for="usr">Email:</label>
                <input class="form-control" id="email" type="email" placeholder="Email" required="" autofocus="" name="email">
              </div>
              <div class="form-group">
                <label for="usr">New Password:</label><span id="erro_password" style="color: red">**Maximum 64 characters</span>
                <input class="form-control mb-4" id="password" type="password" placeholder="Password" required="" name="password">
              </div>
              <div class="form-group">
                <label for="usr">Password Comfirmation:</label><span id="erro_password_comfi" style="color: red">**Maximum 64 characters</span>
                <input class="form-control mb-4" id="password_comfi" type="password" placeholder="Password" required="" name="newPassword">
              </div>
              <button class="btn mt-2 btn-primary btn-block w-50" id="submitBtn" style="            position: relative;            left: 50%;            transform: translateX(-50%);            background-color: #3c5999;            " type="submit">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
          $("#erro_firstname").hide();
          let usernameError = true;
          $("#firstname").keyup(function () {
          validateFirstname();
          });
          function validateFirstname() {
          let usernameValue = $("#firstname").val();
          if (usernameValue.length > 25) {
          $("#erro_firstname").show();
          usernameError = false;
          return false;
          } else {
          $("#erro_firstname").hide();
          return true;
          }
          }
          // Validate last name
          $("#erro_lastname").hide();
          let lastNameErro = true;
          $("#lastname").keyup(function () {
          validateLastname();
          });
          function validateLastname() {
          let usernameValue = $("#lastname").val();
          if (usernameValue.length > 25) {
          $("#erro_lastname").show();
          usernameError = false;
          return false;
          } else {
          $("#erro_lastname").hide();
          return true;
          }
          }
          // Validate Password
          $("#erro_password").hide();
          $("#password").keyup(function () {
          validatePassword();
          });
          function validatePassword() {
          let passwordValue = $("#password").val();
          if (passwordValue.length > 64) {
          $("#erro_password").show();
          return false;
          } else {
          $("#erro_password").hide();
          return true;
          }
          }
          // Validate Confirm Password
          $("#erro_password_comfi").hide();
          $("#password_comfi").blur(function () {
          validateConfirmPassword();
          });
          function validateConfirmPassword() {
          let confirmPasswordValue = $("#password_comfi").val();
          let passwordValue = $("#password").val();
          if (passwordValue != confirmPasswordValue) {
          $("#erro_password_comfi").show();
          $("#erro_password_comfi").html("**Password didn't Match");
          return false;
          } else {
          $("#erro_password_comfi").hide();
          return true;
          }
          }
          // Submit button
          $("#submitBtn").click(function () {
          if (
          validateConfirmPassword() &&
          validateFirstname() &&
          validateLastname() &&
          validatePassword() 
          ) {
          return true;
          }
          return false;
          });
      });
    </script>
  </body>
</html>