mixin headerFotoBook(user)
  header.bg-header
    if user
      header.bg-header
        .row(style='display: flex; align-items: center')
          .col-2(style='text-align: end')
            a.text-white.header-logo(href='feeds') Fotobook
          .col-8.d-flex.justify-content-between.align-items-center
            input#search.form-control.w-50.div_reponsive(placeholder='Search photo / albums' type='text')
            if user
            .d-flex.block-user(style='align-items: center; cursor: pointer')
              img.rounded-circle(src='https://www.tutorialspoint.com/bootstrap/images/64.jpg' alt='Rounded Image' style='width: 30px; height: 30px')
              span.ml-2(style='\
              color: #f8f8f8;\
              font-weight: 700;\
              font-size: 13;\
              text-transform: capitalize;\
              ') #{user.firstName + " " + user.lastName}
          .col-2.login_text 
            a.text-white.logout_text.header-login(href='#' data-toggle='modal' data-target='#myModal')
              | Logout

          // The Modal
      #myModal.modal.fade
          .modal-dialog.modal-dialog-centered
              .modal-content
                  // Modal Header
                  .modal-header
                      h4.modal-title Logout
                      button.close(type='button' data-dismiss='modal')
                      | &times;
                  // Modal body
                  .modal-body Do you want to logout?
                  // Modal footer
                  .modal-footer
                      button.btn.btn-primary(type='button' data-dismiss='modal') Cancel 
                    
                      a.btn.btn-danger(href='/logout') Yes
    else
       .row(style='display: flex; align-items: center;')
        .col-2(style='text-align: end;')
          a.text-white.header-logo(href='#') Fotobook
        .col-8
          input#search.form-control.w-50.div_reponsive(placeholder='Search photo / albums' type='text')
        .col-2
          a.text-white.header-login(href='/login')  Login



mixin navigation 
  ul.nav.flex-column.nav_custom
    li.nav-item
      a.nav-link.active(href='/feeds') My Feed
    li.nav-item
      a.nav-link(href='/photos') My Photos
    li.nav-item
      a.nav-link(href='/albums') My Albums